.content .certificate {
	display: flex;
	flex-wrap: wrap;

	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.certificate-actions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 30px;
	border: 1px solid #1a66ba;
	border-radius: 12px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.71);
}

.certificate-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.certificate-info a {
	border-radius: 100px;
}