#logout {
	display: none;
}

#header {
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1% 1%;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #1e1e1e;
	color: white;
	height: auto;
	z-index: 1000;
	gap: 30px;
	max-height: 70px;
}

#header #logo {
	display: flex;
	align-items: center;
	padding-left: 20px;
	color: #1a66ba;
	font-size: 21px;
    font-weight: bold;
}

#header #links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: auto;
	gap: 30px;
}

#header #botoes {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: auto;
	gap: 10px;
}

#header #botoes button {
	background: #1a66ba;
	width: auto !important;
	border-radius: 8px;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
#header button{
	cursor: pointer;
}

/* INICIO DO FOOTER */

#footer {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #1e1e1e;
	color: white;
    gap: 20%;
	padding: 1%;
	max-height: 1000px;
}



#footer #footerLinks {
  	display: flex;
  	flex-direction: row;
	align-items: center;
  	justify-content: space-between;
  	width: 100%;
}

#primaryFooterLinks{
  	display: flex;
    flex-direction: row;
	padding-left: 5%;
    gap: 100px;
	
}

#primaryFooterLinks button{
	background-color: #1e1e1e;
    border: none;
	cursor: pointer;
}

#gitProjeto {
    display: flex;
    align-items: center;
	padding-right: 5%; 
    gap: 3px;
}

#footerDisplayNone{
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

#sobreP{
	padding: 2% 5% 2% 5%;
	text-indent: 50px;
}

#suporteP{
	padding: 2% 5% 2% 17.2%;
}

.footerLogos{
	width: 25px;
	height: 25px;
}

#localizacaoP{
	line-height: 3;
	text-align: center;
}

#localizacaoP p{
	text-align: center;
}

#localizacaoP a{
	color: rgb(71, 71, 221);
	font-weight: bold;
	text-decoration: none;
}

#footerMeta {
    padding-top: 5%;
	
}

/* OCULTANDO ITENS */

.containerSobre{
	display: none;
}

#suporteP{
	display: none;
}

#localizacaoP{
	display: none;
}











@media (max-width: 768px) {
	#header {
		align-content: center;
		justify-content: center;
	}

	#header > #logo > div {
		display: none !important;
	}
}


@media (max-width: 640px) {
	#header {
		align-content: center;
    	justify-content: center;
	}
}


@media (max-width: 480px) {
	#header, #footer {
		padding: 1% 1%;
	}
	#header > #logo > div {
		display: none !important;
	}

	#footer #footerLinks {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

}

