/* GERAL */

#geral{
    padding: 10px 15px;
    text-align: justify;
}
h3 {
    padding: 15px 0 10px 0px;
}
p{
    text-align: justify;
}

/* PRIMEIRA PARTE DO SCRUM - SCRUM PRINCIPAL */

#principal{
    display: flex;
    flex-direction: row;
    gap: 30px; /* espaço entre img e texto */
    padding: 10px 0 50px 0;
}
.textPrincipal{
    text-indent: 56.7px;
    line-height: 1.6; /* espaço entre as linhas */
}
.imgPrincipal{
    width: 35%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.imgPrincipal:hover{
    transform: scale(1.2); /* Ampliação de 20% */
}

/* SEGUNDA PARTE DO SCRUM - SCRUM VALUE */

#imgWithTitleValue{
    background-image: url('../img/modulo-01/DevTeamPrinc.jpg');
    width: 100%;
    height: 534px;
    border-radius: 10px;
    background-size: cover; /* ajusta a imagem para cobrir o container */
    background-position: center; /* centraliza a imagem */
}

#titleValue{
    width: 430px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 40px;
}
#textValue{
    line-height: 1.6;
    padding: 20px 0 50px 20px;
}

/* TERCEIRA PARTE DO SCRUM - SCRUM ROLES */

#roles{
    padding-bottom: 50px;
}
#titleRoles{
    margin-bottom: 20px;
}
#textWithImgRoles{
    display: flex;
    gap: 30px;
    line-height: 1.4;
}
#textWithImgRoles span{
    display: block;
    margin-top: 10px;
}
#imgRoles{
    width: 40%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
#imgRoles:hover{
    transform: scale(1.2);
}

/* QUARTA PARTE DO SCRUM - SCRUM EVENTS */
#textWithImgEvents{
    display: flex;
    gap: 30px;
    line-height: 1.6;
}
#titleEvents{
    margin-bottom: 30px;
}
#imgEvents{
    width: 30%;
    height: auto;
    transition: transform 0.3s ease;
}
#imgEvents:hover{
    transform: scale(1.2);

}
#textEvents{
    display: flex;
    flex-direction: column;
}

/* Ajuste para responsividade */

@media (max-width: 768px) {
    #principal,
    #textWithImgRoles,
    #textWithImgEvents {
        flex-direction: column; /* Muda para coluna em telas menores */
        align-items: center;
    }

    .imgPrincipal, 
    #imgRoles, 
    #imgEvents {
        width: 80%; /* Aumenta a largura em relação ao container */
    }

    #titleValue {
        width: 100%; /* Adapta a largura do título */
        margin-left: 0; /* Remove margem lateral */
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .textPrincipal {
        text-indent: 30px; /* Reduz indentação para telas bem pequenas */
        font-size: 14px; /* Ajusta o tamanho da fonte */
    }

    #imgWithTitleValue {
        height: 300px; /* Reduz a altura para telas pequenas */
    }

    .imgPrincipal, 
    #imgRoles, 
    #imgEvents {
        width: 100%; /* Ocupa toda a largura disponível */
    }

    #textValue {
        padding: 10px; /* Reduz espaço interno */
    }
}