<!DOCTYPE html>
<html lang="pt-BR">
<head>
</head>
<body>
    <div id="footer">
        <div id="footerLinks">
            <div id="primaryFooterLinks">
                <button id="sobre">Sobre</button>
                <button id="suporte">Suporte</button>
                <button id="nossaLocalizacao">nossa Localização</button>
            </div>

            <div id="gitProjeto"> 
                <img class="footerLogos" src="./img/footerLogos/logoGithub.png" alt="logoGitHub">
                
                <a href="https://github.com/hallwaytechgrupo/ABP-2024-2" target="_blank"> 
                Github - Projeto</a>
            </div>
        </div>
        <div id="footerDisplayNone">
            <div id="sobreP" class="containerSobre">
                <p>Nosso grupo de desenvolvimento surgiu no ano de 2024. Uma equipe apaixonada e dedicada a explorar as possibilidades do Scrum. Unindo talentos diversos, buscamos não apenas adquirir conhecimento técnico, mas também construir um ambiente colaborativo que estimule a criatividade e a resolução de problemas.</p>
                <p>Acreditamos que a chave para o sucesso está na comunicação aberta e no trabalho em equipe. Cada membro com habilidades únicas, e juntos estamos comprometidos em aprimorar nossas competências e entregar soluções de software que façam a diferença. Estamos animados para enfrentar os desafios deste semestre e ansiosos para ver onde essa jornada nos levará!</p>
            </div>
            <div id="suporteP">
                <dl>
                    <p>Entre em contato com nosso time para suporte sempre que precisar. Ficaremos felizes em te ajudar!</p><br>

                    <div><img class="footerLogos" src="./img/footerLogos/logoWhatsapp.png" alt="logoWhatsapp">(12)99321-5093</div>

                    <div><img class="footerLogos" src="./img/footerLogos/logoGmail.png" alt="logoGmail">hallwaytechgrupo@gmail.com</div>

                    <dd><img class="footerLogos" src="./img/footerLogos/logoGitHubContato.png" alt="logoGitHub">github.com/hallwaytechgrupo</dd>
                </dl>
            </div>
            <div id="localizacaoP">
                <p>Venha nos visitar, será um prazer recebê-lo!</p>
                <a href="https://encurtador.com.br/LdAC2" target="_blank">Nosso endereço</a>
            </div>
        </div>
        <div id="footerMeta">HallwayTech &copy; ABP - 2024-2 
        </div>
    </div>


</body>
</html>