<!DOCTYPE html>
<html lang="pt-BR">
<head>
</head>
<body>
    <div id="footer">
        <div id="footerLinks">
            <div id="sobre"><a href="#.sobre.html"><span class="material-symbols-outlined">
                apartment
                </span>Sobre</a></div>
            <div id="suporte"><a href="#.suporte.html"><span class="material-symbols-outlined">
                flag
                </span>Suporte</a></div>
            <div id="nossaLocalizacao"><a href="#link_pagina_localização"><span class="material-symbols-outlined">
                location_on
                </span>Nossa Localização</a></div>
            <div id="gitProjeto"><a href="#link_para_modulo2"><span class="material-symbols-outlined">
                public
                </span>Github do projeto</a></div>
        </div>
        <div id="footerMeta">HallwayTech &copy; ABP - 2024-2 </div>
    </div>
</body>
</html>