<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    
</head>
<body>
    <div id="footer">
        <div id="footerLinks">
            <div id="primaryFooterLinks">
                <a class="SSL" id="sobre" href="#sobreP" onclick="sobreFunction()">Sobre</a>
                
                <a class="SSL" id="suporte" href="#suporteP" onclick="suporteFunction()">Suporte</a>

                <a class="SSL" id="nossaLocalizacao" href="#localizacaoP" onclick="localizacaoFunction()">Nossa Localização</a>
            </div>

            <div id="gitProjeto"> 
                <img class="footerLogos" src="./img/footerLogos/logoGithub.png" alt="logoGitHub">
                
                <a href="https://github.com/hallwaytechgrupo/ABP-2024-2" target="_blank"> 
                Github - Projeto</a>
            </div>
        </div>
        
        
            <div id="sobreP">
                <p>Nosso grupo de desenvolvimento surgiu no ano de 2024. Uma equipe apaixonada e dedicada a explorar as possibilidades do Scrum. Unindo talentos diversos, buscamos não apenas adquirir conhecimento técnico, mas também construir um ambiente colaborativo que estimule a criatividade e a resolução de problemas.</p>
                <p>Acreditamos que a chave para o sucesso está na comunicação aberta e no trabalho em equipe. Cada membro com habilidades únicas e juntos estamos comprometidos em aprimorar nossas competências e entregar soluções de software que façam a diferença. Estamos animados para enfrentar os desafios deste semestre e ansiosos para ver onde essa jornada nos levará!</p>
            </div>
            <div id="suporteP">
                <dl>
                    <p>Entre em contato com nosso time para suporte sempre que precisar. Ficaremos felizes em te ajudar!</p>
                    <br>

                    <dd><img class="footerLogos" src="./img/footerLogos/logoWhatsapp.png" alt="logoWhatsapp"><a href="https://wa.me/+5512982813339?text=Olá+,+gostaria+de+saber+mais+sobre+a+metodologia+scrum" target="_blank">(12)98281-3339</a></dd>

                    <dd><img class="footerLogos" src="./img/footerLogos/logoGmail.png" alt="logoGmail"><a href="https://mail.google.com/" target="_blank">hallwaytechgrupo@gmail.com</a></dd>

                    <dd><img class="footerLogos" src="./img/footerLogos/logoGitHubContato.png" alt="logoGitHub"><a href="https://github.com/hallwaytechgrupo" target="_blank">github.com/hallwaytechgrupo</a></dd>
                </dl>
            </div>
            <div id="localizacaoP">
                <p>Venha nos visitar, será um prazer recebê-lo!</p>
                <a href="https://encurtador.com.br/LdAC2" target="_blank">Nosso endereço</a>
            </div>
        
        <div id="footerMeta">
            <p>HallwayTech &copy; ABP - 2024-2</p> 
        </div>
    </div>

</body>
</html>




