<!DOCTYPE html>
<html lang="pt-BR">
  <head>  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>headerComponents</title>

  
</head>
<body>
  
</body>
</html>
  <body>
    <nav id="header">
      <div id="logo">
        <a href="./index.html" style="border: none;"><img src="./img/logo.png" alt="Logo do projeto" /></a>
        <div>HallwayEducation</div>
      </div>
      <div id="menu-mobile">
        <span class="material-symbols-outlined">menu</span>
      </div>
      <div id="menu-mobile-sidebar" class="hidden">
        <div id="menu-content">
          <ul>
            <li id="linkHome"><a href="./index.html">Home</a></li>
            <li id="linkM1"><a href="./modulo1.html">O que é SCRUM?</a></li>
            <li id="linkM2"><a href="./modulo2.html">Tudo sobre Sprint</a></li>
            <li id="linkM3"><a href="./modulo3.html">Ferramentas Scrum</a></li>
          </ul>
        </div>
      </div>
      <div id="links">
        <ul>
          <li id="linkHome" ><a href="./index.html" class="linksHeader">‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ Home</a></li>
          <li id="linkM1"><a href="./modulo1.html" class="linksHeader">O que é SCRUM?</a></li>
          <li id="linkM2"><a href="./modulo2.html" class="linksHeader">Tudo sobre Sprint</a></li>
          <li id="linkM3"><a href="./modulo3.html" class="linksHeader">Ferramentas Scrum</a></li>
        </ul>
      </div>
      <div id="botoes">
        <div id="loginRegistrar">
          <button href="#"><span class="material-symbols-outlined">person</span></button>
        </div>
        <div id="logout"><button>Logout</button></div>
      </div>
    </nav>
    <div id="componente-login"></div>
    <div id="toast"></div>
  </body>
</html>