<body>
  <div class="modal" id="profile">
    <div class="content">
      <div class="buttons">
        <a href="#" id="profile-logout" class="logout">logout</a>
      </div>
      <div class="profile-info">
        <div class="picture">
          <img src="https://media.tenor.com/3ItiA2urMygAAAAC/nerowo-fsociety.gif" alt="Profile Picture" />
        </div>
        <div class="name">
          <p id="profile-name">John Doe</p>
        </div>
        
      </div>

      <div class="text-center">
        <p class="subtitle">CURSO - INTRODUÇÃO AO SCRUM</p>
        <h3 class="title">Meu <span class="highlight">Progresso</span></h3>
      </div>

      <div class="steps">
        <ul>
          <li class="step">
            <div class="step-content">
              <div class="step-number-container">
                <div class="step-number" id="step-number-1">
                  <span class="material-symbols-outlined" id="step-number-1-status">
                    hourglass_empty
                  </span>
                </div>
              </div>
              <div class="step-details">
                <h4 class="step-title">Módulo 1</h4>
                <p class="step-description">
                  O que é o Scrum?
                </p>
              </div>
            </div>
          </li>
          <li class="step">
            <div class="step-content">
              <div class="step-number-container">
                <div class="step-number" id="step-number-2">
                  <span class="material-symbols-outlined" id="step-number-2-status">
                    hourglass_empty
                  </span>
                </div>
              </div>
              <div class="step-details">
                <h4 class="step-title">Módulo 2</h4>
                <p class="step-description">
                  Tudo sobre Sprint
                </p>
              </div>
            </div>
          </li>
          <li class="step">
            <div class="step-content">
              <div class="step-number-container">
                <div class="step-number completed" id="step-number-1">
                  <span class="material-symbols-outlined" id="step-number-1-status">
                    check
                  </span>
                </div>
              </div>
              <div class="step-details">
                <h4 class="step-title">Módulo 3</h4>
                <p class="step-description">
                  Ferramentas - Scrum
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="certificado">
        <a href="#" class="button">Gerar Certificado</a>
      </div>
    </div>
  </div>
</body>