<body>
    <div class="modal-quiz animate__animated animate__fadeIn">
        <div class="quiz-container">
            <div class="quiz-header">
                <h1>Quizz</h1>
            </div>
            <form id="quiz-form">

                <!-- Questão 1 -->
                <div class="question">
                    <h3>A Sprint Review é o momento em que a equipe demonstra o incremento do produto para os stakeholders. (Verdadeiro)</h3>
                </div>
                <div class="quiz-buttons">
                    <input type="radio" id="question1-true" name="question1" value="true">
                    <label for="question1-true" class="true-button">Verdadeiro</label>
                    <input type="radio" id="question1-false" name="question1" value="false">
                    <label for="question1-false" class="false-button">Falso</label>
                </div>

                <!-- Questão 2 -->
                <div class="question">
                    <h3>O Sprint Planning é uma reunião realizada no final de cada Sprint para planejar a próxima. (Falso)</h3>
                </div>
                <div class="quiz-buttons">
                    <input type="radio" id="question2-true" name="question2" value="true">
                    <label for="question2-true" class="true-button">Verdadeiro</label>
                    <input type="radio" id="question2-false" name="question2" value="false">
                    <label for="question2-false" class="false-button">Falso</label>
                </div>

                <!-- Questão 3 -->
                <div class="question">
                    <h3>O Time de Desenvolvimento é auto-organizado e responsável pela criação do incremento. (Verdadeiro)</h3>
                </div>
                <div class="quiz-buttons">
                    <input type="radio" id="question3-true" name="question3" value="true">
                    <label for="question3-true" class="true-button">Verdadeiro</label>
                    <input type="radio" id="question3-false" name="question3" value="false">
                    <label for="question3-false" class="false-button">Falso</label>
                </div>
                
                <div class="submit-button">
                    <button type="submit" class="button">Enviar Respostas</button>
                </div>
            </form>
        </div>
    </div>
</body>